<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>KS</title>
  <link href="{{STATIC_URL}}js/bower_components/fullcalendar/fullcalendar.css" rel="stylesheet"></link>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{STATIC_URL}}css/app.css"/></link>
  <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
  <script src="{{STATIC_URL}}js/fullcalendar.js"></script> 
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js" ng:autobind></script>
  <script src="{{STATIC_URL}}js/textAngular.js"></script> 
  <script src="http://code.angularjs.org/1.2.0-rc.2/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular-cookies.min.js"></script>
  <script type="text/javascript" src="http://code.angularjs.org/1.2.0/angular-animate.js"></script>
  <script src="{{STATIC_URL}}js/ui-bootstrap-0.6.0.js"></script> 
  <script type = 'text/javascript' src="{{STATIC_URL}}js/calendar.js"></script>
</head>
<body ng-app = 'forumApp'>

{% if not is_logged_in %}
<div id = 'loginfullpage' class = 'loginpage' ng-controller='loginCtrl'>
<div class = 'loginholder'>
<div register-form ng-show='showregister'></div>
<div login-form ng-show = '!showregister'></div>
<h3>Make A Forum.</h3>
</div>
</div>
{% endif %}

<div nav-bar></div>
<div class = 'wrapper'>
<div view-tabs></div>


<div class = 'row'>
<div class = 'span2 acc'>
<accordion>
    <accordion-group ng-repeat = 'forum in forums' ng-class="{true:'active', false:'inactive'}[isOpen==true]">
    <accordion-heading>
        <div class= 'acc-click' ng-click = "go(forum.id)" ng-bind='forum.forum_name'>
        </div>
    </accordion-heading>
    <div ng-repeat = 'sub in forum.subforums' ng-click = 'subclicker(sub.id)' ng-class = "{true:'activesub', false:'test'}[active_sub == sub.id]">
        <p ng-bind = 'sub.sub_forum_name'></p>
    </div>
    </accordion-group>
</accordion>

</div><!-- span 2 -->

<div class = 'span8'>
<div ng-view></div> 
</div><!-- span 8 -->
</div><!-- row -->
</div><!-- wrapper -->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
<!--  <script src="{{STATIC_URL}}lib/angular/angular.js"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.3/angular-cookies.js"></script>

--!>
</body>
  <script src="{{STATIC_URL}}js/app.js"></script>
  <script src="{{STATIC_URL}}js/services.js"></script>
  <script src="{{STATIC_URL}}js/controllers.js"></script>
  <script src="{{STATIC_URL}}js/filters.js"></script>
  <script src="{{STATIC_URL}}js/angular-sanitize2.js"></script>
  <script src="{{STATIC_URL}}js/directives.js"></script>
  <script src="{{STATIC_URL}}js/moment.min.js"></script>
  <script src="{{STATIC_URL}}js/angular-moment.js"></script>
  <script src="{{STATIC_URL}}js/tinymce/js/tinymce/tinymce.min.js"></script>
  <script src="{{STATIC_URL}}js/tinymce.js"></script> 
</html>
